[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-compress = "*"
flask-talisman = "*"
flask-pymongo = "*"
redis = "*"

[requires]
python_version = "3.8"
